name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Node.js ${{ matrix.node }} CI

    strategy:
      fail-fast: false
      matrix:
        node: [ '10', '12', '14', '15', '16' ]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install, test and coverage
        run: |
          npm i
          npm t
          npm run coveralls

      - name: Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-node-${{ matrix.node }}
          parallel: true

  finish:
    needs: build
    runs-on: ubuntu-latest
    name: Coveralls

    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
